In [36]:
import numpy as np
import pandas as pd
from sklearn.linear_model import LogisticRegressionCV

In [8]:
df = pd.read_csv("../data/semisynth_covariates.csv", index_col=0)

In [9]:
df.head()

,gender,stay_length,vent,hypertension,coronary_ath,atrial_fib,hematocrit,platelets,hemoglobin
subject_id,,,,,,,,,
4,0,-0.360949,0,0,0,0,0.018405,0.413658,-0.111641
6,0,1.359324,0,0,0,0,0.890256,-0.393352,0.933756
9,1,2.757045,1,1,0,0,1.006502,1.059265,1.043798
11,0,-0.432627,0,0,0,0,0.851507,0.279156,0.988777
13,0,1.323485,1,1,1,0,-0.969693,-0.976192,-1.046996

In [10]:
outcome_probs = pd.read_csv("../data/outcome_probs.csv", index_col=0)

In [11]:
outcome_probs.head()

                   p        p0        p1
subject_id
4           0.115001  0.115001  0.006428
6           0.068714  0.068714  0.003660
9           0.028882  0.373972  0.028882
11          0.002724  0.002724  0.000136
13          0.994895  0.999745  0.994895

In [14]:
np.random.seed(4)
y = np.random.binomial(1, outcome_probs["p"])
y0 = np.random.binomial(1, outcome_probs["p0"])
y1 = np.random.binomial(1, outcome_probs["p1"])

In [25]:
np.random.binomial(1, outcome_probs)[df["vent"] == 1]

array([[0, 0, 0],
       [1, 1, 1],
       [0, 0, 0],
       ...,
       [0, 0, 0],
       [1, 1, 1],
       [0, 1, 1]])

In [27]:
(outcome_probs["p"] > 0.5).mean()

0.4994558585891897

In [31]:
y_alt = (outcome_probs["p"] > 0.5).astype(int)

In [33]:
y_alt[df["vent"] == 1].mean() - y_alt[df["vent"] == 0].mean()

0.01021181080542094

In [30]:
(outcome_probs["p0"] > 0.5).mean() - (outcome_probs["p1"] > 0.5).mean()

0.24100517758796952

In [47]:
(y1 - y0).mean()

-0.2264287834317185

In [37]:
clf = LogisticRegressionCV(cv=5, random_state=0).fit(df, y)

In [43]:
df_treated = df.copy()
df["vent"] = 1
df_control = df.copy()
df["vent"] = 0

In [48]:
a = clf.predict_proba(df_treated)[:, 0] - clf.predict_proba(df_control)[:, 0]

In [49]:
a.mean()

-0.2171631887040924